<% include partials/header %>
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/home.css">
<body>

<% include partials/navbar %>



<div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbarr-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/profile">
                <i class="fas fa-fw fa-user-circle"></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/editprofile">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>Edit Profile</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/scorecard">
                <i class="fas fa-fw fa-table"></i>
                <span>View Scorecard</span></a>
            </li>
          </ul>
    
        <!-- Side navbar finished -->
    
        <div id="content-wrapper">
          <div style="padding-left:50px;padding-right: 50px;" class="container">
            <div class="row">
              <h1 id="name">Welcome <%=name.charAt(0).toUpperCase() + name.slice(1)%></h1>
            </div>
    
  
       
                    <br>
                    <div class="row">
                        <div class="col-sm">Username : <%=name%></div>
                        <div class="col-sm">Roll : <%=roll%></div>
                    </div>
                    <div class="row">
                        <div class="col-sm">Email : <%=email%></div>
                        <div class="col-sm">College : <%=college%></div>
                    </div>
  
            
             
              </div>
              
          </div>
          
      </div>
    </div>

<% include partials/footer %>