<% include partials/header %>
<link rel="stylesheet" href="/css/sidebar.css">
<!-- <link rel="stylesheet" href="/css/home.css"> -->
<body>

<% include partials/navbar %>


<div id="wrapper">

    <!-- Sidebar -->
    <% include partials/side %>

    <!-- Side navbar finished -->

    <div id="content-wrapper">
        <div class="time-wrapper">
            <br>
        <h3>Time : <span id="time"></span></h3>
        </div>
      <div style="padding-left:50px;padding-right: 50px;" class="container">
        <div class="row">
          <h1 id="name"><%= test.name %> Test</h1>
        </div>
        
        
        
        <br><br>
<% var time = JSON.stringify(test.time) %>
<% var siz = JSON.stringify(test.questions.length) %>



<% for (var i = 0; i < test.questions.length; i++) { %>
        <div class="test">
                <div class="test-header raleway">Q<%= i+1 %>. <%= test.questions[i].question %></div>
                <div class="test-main">
                    <div class="container">
                        <div class="row">
                                <div class="col padding-right">
                                    <input class="form-check-input" type="radio" name=<%="answeroption"+i%> id="op1" value="op1">
                                        <label class="form-check-label raleway" for="op1">
                                            <%= test.questions[i].op1 %>
                                        </label>
                                </div>
                                <div class="col padding-right">
                                    <input class="form-check-input" type="radio" name=<%="answeroption"+i%> id="op2" value="op2">
                                        <label class="form-check-label raleway" for="op2">
                                            <%= test.questions[i].op2 %>
                                        </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col padding-right">
                                    <input class="form-check-input" type="radio" name=<%="answeroption"+i%> id="op3" value="op3">
                                        <label class="form-check-label raleway" for="op3">
                                            <%= test.questions[i].op3 %>
                                        </label>
                                </div>
                                <div class="col padding-right">
                                    <input class="form-check-input" type="radio" name=<%="answeroption"+i%> id="op4" value="op4">
                                        <label class="form-check-label raleway" for="op4">
                                            <%= test.questions[i].op4 %>
                                        </label>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row center-button">
                    <button type="button" class="btn btn-primary save" onclick="checkAnswer(<%= JSON.stringify(test.questions[i].ans)  %>,<%= i %>)">Save</button>
                    <button type="button" class="btn btn-danger reset" onclick="resett(<%= i %>)">Reset</button>
                </div>
                <br>
            </div>

<% } %>
<br>
<form class="text-center" action="/test/num" method="POST" id="form1">
    <input name="score" type="text" style="display : none" value=0 id="score">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

          </div>
          
      </div>
      
  </div>
</div>

<script>
    var score = 0;
    var size = <%=siz%>;
    var answeredCorrect = [];
    for(var i = 0;i < size;i++)
    {
        answeredCorrect.push(false);
    }
    //console.log(answeredCorrect);
    
    function resett(i){
        var x = document.querySelectorAll("input[name=answeroption"+i+"]");
        for(let j = 0;j < 4;j++){
            x[j].checked = false;
        }
        // console.log(answeredCorrect[i] + "+" + score);
        if(answeredCorrect[i] == true){
            answeredCorrect[i] = false;
            score--;
        }
    }

    function checkAnswer(ans,i) {
        var x = document.querySelectorAll("input[name=answeroption"+i+"]");
        var selected = -1;
        if(x[0].checked){
            selected = 1;
        }
        else if(x[1].checked){
            selected = 2;
        }
        else if(x[2].checked){
            selected = 3;
        }
        else if(x[3].checked){
            selected = 4;
        }
        else{
            selected = -1;
        }
        if(selected == parseInt(ans, 10) && answeredCorrect[i] == false)
        {
            score++;
            answeredCorrect[i] = true;
        }
        else if(selected != parseInt(ans, 10) && answeredCorrect[i] == true)
        {
            score--;
            answeredCorrect[i] = false;
        }
        //console.log(score);
        document.getElementById("score").value = score;
    }

    //timer
    
        // console.log(<%= time %>);
    var distance = <%= time %>*1000*60;
    
    // Update the count down every 1 second
    var x = setInterval(function() {

    // Find the distance between now and the count down date
    distance = distance - 1000;

    // Time calculations for days, hours, minutes and seconds
    
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("time").innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
        document.getElementById('form1').submit();
        clearInterval(x);
        document.getElementById("time").innerHTML = "EXPIRED";
    }
    }, 1000);
    
    

</script>

<% include partials/footer %>